.card {
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0px 1px 5px grey;
}

.card-header {
    padding: 15px;
    background-color: #f7f7f7;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #e0e0e0;
}

.input-group {
    margin-bottom: 1rem;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    text-align: center;
}

.logged-out {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}