.card {
    border-radius: 15px;
    box-shadow: 0px 1px 5px grey;
    margin-bottom: 50px;
}

.card-header {
    padding: 15px;
    background-color: #d2d2d2;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #e0e0e0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    margin-bottom: 1rem;
}

.list-group {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.list-group-item:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.task-left input[type="checkbox"] {
    margin-right: 10px;
    padding: 15px;
    width: 20px;
    height: 20px;
}

.task-right {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.task-container:hover .task-right {
    opacity: 1;
}

.list-group-item .divider {
    height: 100%;
    border-left: 1px solid white;
    margin: 0 8px;
    opacity: 0.7;
    border-left-width: 1px;
}

.list-group-item[data-item="1"]:hover {
    background-color: #defce2;
}
.list-group-item[data-item="2"]:hover {
    background-color: #fcfed5;
}
.list-group-item[data-item="3"]:hover {
    background-color: #fcd7d7;
}

.manage-btn {
    margin-left: 10px;
}

.add-btn {
    text-align: center;
}

.btn-inst {
    padding: 15px;
    width: 250px;
}

.logged-out {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.card-header {
    background-color: #416fae;
}

.card-header .buttons {
    display: none;
    opacity: 0.5;
}


.card-header:hover .buttons {
    display: block;
}

.card-header .buttons span.divider {
    height: 100%;
    border-left: 1px solid white;
    margin: 0 8px;
    opacity: 0.7;
    border-left-width: 1px;
}

.divider-task-left {
    height: 60px;
    border-left: double grey;
    margin: 0 7px;
    opacity: 0.1;
    width: 20px;
    border-left-width: 7.5px;
}

.divider-task-right {
    height: 60px;
    border-left: solid black;
    margin: 0 7px;
    opacity: 0.1;
    width: 20px;
    margin-right: 125px;
    border-width: thin;
}

.divider-between-imgs {
    border-left: solid black;
    margin: 0 10px;
    opacity: 0.1;
    border-width: thin;
}

.green-plus {
    margin-right: 20px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: white;
    width: 60%;
    max-width: 600px;
    margin: 16% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

.title-calendar {
    display: flex;
}