<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link type="text/css" href="{% static 'main.css' %}" rel="stylesheet">
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="{% static 'app.js' %}"></script>
</head>
{% endblock %}
{% block body %}
<body id="body">
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        {% if user.is_authenticated %}
            {% for project in projects %}
            <div id="card-{{ project.id }}" class="card" >
                <div style="cursor: pointer;"
                    class="buttons">
                    <div class="card-header">
                        <div class="title-calendar">
                            <img width="28" height="28" style="margin-right: 10px;" src="{% static 'calendar.png' %}">
                            <div id="project-title-{{ project.id }}" style="text-decoration: none;">
                                {{ project.title }}
                            </div>
                        </div>
                        <div class="buttons">
                        <button hx-get="{% url 'project-edit' project.id %}"
                                hx-target="#project-title-{{ project.id }}"
                                hx-trigger="click"
                                type="submit" style="background: none; border: none; padding: 0;">
                            <img width="23" height="23" style="color: green;" src="{% static 'pencil.png' %}">
                        </button>
                        <span class="divider"></span>
                        <button hx-confirm="Are you sure?" hx-delete="{% url 'project-delete' project.id %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                hx-swap="delete"
                                hx-target="#card-{{ project.id }}"
                                hx-trigger="click"
                                type="submit" style="background: none; border: none; padding: 0;">
                            <img width="23" height="23" style="color: green;" src="{% static 'trash.png' %}">
                        </button>
                        </div>
                    </div>
                </div>
                    <form>
                        {% csrf_token %}
                        <div class="card-header input-group" style="background-color: #d2d2d2; color: white; margin-bottom: 0px;">
                            <img width="28" height="28" class="green-plus" src="{% static 'plus.png' %}">
                            <input name="title" type="text" class="form-control"
                                   placeholder="Start typing here to create a task..." minlength="3" maxlength="90">
                            <div class="input-group-append">
                                <button hx-post="{% url 'task-create' project.id %}"
                                        hx-target="#tasks-list-{{ project.id }}"
                                        class="btn btn-success"
                                        style="background-color: #75ac8d;" type="submit">Add Task</button>
                            </div>
                        </div>
                    </form>
                <div id="tasks-list-{{ project.id }}">
                    {% include 'tasks-list.html' %}
                </div>
            </div>
            {% endfor %}
        </div>
        <form>
            {% csrf_token %}
            <div class="add-btn mt-4 add-btn">
                {% include 'new-project-popup.html' %}
                <a onclick="openPopupTask()" style="background-color: #416fae; margin-bottom: 100px;"
                   class="btn btn-primary btn-inst">
                    <img width="28" height="28" style="margin-right: 10px;" src="{% static 'plus-add.png' %}">
                    Add TODO List</a>
            </div>
        </form>
        {% else %}
        <h1 style="margin-top: 150px; text-align: center;"
        >Hi! First of all you need to authorize to manage your tasks! &#128521;</h1>
        <div class="add-btn mt-4 add-btn">
            <a href="{% url 'account_signup' %}" style="background-color: #416fae; margin-bottom: 100px;"
               class="btn btn-primary btn-inst">
                <img width="28" height="28" style="margin-right: 10px;" src="{% static 'plus-add.png' %}">
                Add TODO List</a>
        </div>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}
</html>
